@import url('menu.css');

/*  color: var(--main-color);  */
:root{
    --main-color: #0279cd;
    --dark-color: #025c9b;
    --darker-color: #012E4D;
    --black-color: #151720;
    --muted-color-dark: rgba(0,0,0,0.8);
    --muted-color-light: rgba(255,255,255,0.8);
}

/*  font-family: 'Lato', sans-serif;  */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body{
    font-family: 'Lato', sans-serif!important;
}

/*  container  */
.container{
    max-width: 75vw!important;
}

/*  background-color  */
.bg-main{
    background-color: var(--main-color)!important;
    color: white;
}
.bg-dark{
    background-color: var(--dark-color)!important;
    color: white;
}
.bg-darker{
    background-color: var(--darker-color)!important;
    color: white;
}
.bg-black{
    background-color: var(--black-color)!important;
    color: white;
}

/*  text color */
.text-color-main{
    color: var(--main-color);
}
.text-color-dark{
    color: var(--dark-color);
}
.text-color-darker{
    color: var(--darker-color);
}

/*  text-muted  */
.text-muted-light{
    color: var(--muted-color-dark);
}
.text-muted-dark{
    color: var(--muted-color-light);
}

/*  B O T O N E S  */

/*  btn-primary
(fondo azul)  */
.btn-primary{
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.btn-primary:hover{
    border: none;
    background-color: var(--dark-color);
    color: white;
}
/*  btn-light
(fondo blanco)  */
.btn-light{
    border: none;
    background-color: white;
    color: black;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
/*  btn-opacity
(fondo transparente)  */
.btn-opacity{
    border: none;
    background-color: #ffffff00;
    color: white;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

/*  icono  */
.icono-xs{
    width: 16px;
    height: 16px;
}
.icono-sm{
    width: 24px;
    height: 24px;
}
.icono-md{
    width: 32px;
    height: 32px;
}
.icono-bg{
    width: 48px;
    height: 48px;
}

/*  logo  */
.logo{
    height: 60px;
}


/*  enlaces  */
.bg-main a{
    color: white;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.bg-dark a{
    color: white;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.bg-darker a{
    color: white;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.bg-black a{
    color: white;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

/*  shadow  */

.shadow{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)!important;
}