/*  -- Header --  */
header p{
    border-top: 5px solid #00000000;
    margin-bottom: 0;
}



/*  -- Menú (Scrolling) --  */
#menu-scroll{
    width: 100vw;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}



/*  -- Enlaces del menú --  */

/*  Para el menú estático  */
.menu-enlace-static a{
    text-decoration: none;
    padding: 0;
    color: var(--text-muted-light);
}
.menu-enlace-static a:hover{
    text-decoration: none;
    padding: 0;
    color: var(--text-muted-light);
}
.menu-enlace-static a p{
    border-bottom: 5px solid #ffffff00;
    margin: 0;
}
.menu-enlace-static a p:hover{
    border-bottom: 5px solid var(--main-color);
}
.menu-enlace-static .active{
    border-bottom: 5px solid var(--main-color);
}

/*  Para el menú con scrolling  */
.menu-enlace-scroll a{
    text-decoration: none;
    padding: 0;
}
.menu-enlace-scroll a:hover{
    text-decoration: none;
    padding: 0;
}
.menu-enlace-scroll a p{
    border-bottom: 5px solid #ffffff00;
    margin: 0;
}
.menu-enlace-scroll a p:hover{
    border-bottom: 5px solid white;
}
.menu-enlace-scroll .active{
    border-bottom: 5px solid white;
}