/*  font-family: 'Barlow Condensed', sans-serif;  */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
/*  font-family: 'Lato', sans-serif;  */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body{
    background-color: #0279CD;
    color: white;
    text-align: center;
    justify-content: center;
    font-family: 'Lato', sans-serif!important;

}

.cancel{
    float: right;
    margin-top: 2%;
    margin-right: 2%;
}

.cancel img{
    width: 30px;
}

.log{
    margin-top: 10%;
    position: relative;
}

.log img{
    width: 450px;
}

.resto{
    margin-top: 15%;
}

h2{
    font-size: 50px;
    font-weight: bold;
}


p{
    font-size: 13px;
}


.input-group-text{
    background-color: rgb(0, 100, 172);
    color: white;
    border: 0;
}

.container{
    width: 45%;
}
.modal-body{
    color: #0279CD;

    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.modal-body strong{
    font-size: 50px;
}

.modal-body img{
    width: 70px;
}


.close{
    margin-right: 6px;
    margin-top: 3px;
}


footer{
    color: white;
    bottom: 0%;
    position: absolute;
    justify-content: center;
    width: 100%;
}

.resto h2{
    margin-bottom: 45px;
}

.resto h4{
    margin-bottom: 20px;
}

footer p{
    font-size: 15px;
}

footer .container{
    width: 50%;
}


a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: white;
  }
  
  a:active {
    color: white;
  } 

label{
    text-align: left;
}

